<div class="home_page centered col-md-6 col-md-offset-3">
	<p id="notice"><%= notice %></p>
	<h1>Ιατρείο Ελευθερίας Ποδότα</h1>

	<p>Εφαρμογή διαχείρησης ραντεβού αποτρίχωσης</p>


	<div class="buttons">
		<%= link_to 'Ραντεβού', appointments_path, class: 'btn btn-primary' %>
		<%= link_to 'Ασθενείς', clients_path, class: 'btn btn-primary' %>
	</div>
</div>