.login_form {
	h2 {
		text-align: center;
	}
}
.form-group {
	margin: 20px 0;
	display: block;
  overflow: auto;
}
#error_explanation {
	width: inherit !important;
}

#appointment_notes {
  min-height: 150px;
}

.areas_labels {
	font-weight: normal;
	display: inline-block; 
	width: 50%; 
	float: left;
}
.form-group input.areas_checkboxes {
	margin-right: 10px;
}